<app-sidebar></app-sidebar>

<div class="container" id="container" *ngIf="selectedInvoice">
    <div class="address-infor-icon">
        <div class="address">
            <p>Sender Details</p>
            <p class="address-text">{{invoice.sender_contact_name}}</p>
            <p>{{invoice.sender_physical_address}}</p>
            <p>{{invoice.sender_email}}</p>
            <p>+27 {{invoice.sender_mobile}}</p>
        </div>
        <div class="sys-icon">
            <h1 class="system-icon">Invoice</h1>
        </div>
    </div>
    <div class="second-address">
        <div class="address">
            <p>Reciever Details</p>
            <p class="address-text">{{invoice.receiver_contact_name}}</p>
            <p>{{invoice.receiver_physical_address}}</p>
            <p>{{invoice.receiver_email}}</p>
            <p>+27 {{invoice.receiver_mobile}}</p>
        </div>
        <div class="invoiice-infor-details" *ngIf="selectedInvoice">
            <h3>Invoice: {{ invoice.invoice_number}}</h3>
            <h3>Invoce Date: {{ invoice.invoice_date |date :'dd/MM/yyyy'}}</h3>
            <h3>Due Date: <span>{{ invoice.due_date |date :'dd/MM/yyyy'}}</span>   </h3>
        </div>
    </div>


    <div class="container" style="overflow-x: auto;">
        <h2>Invoice Details</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Item</th>
              <th>Rate</th>
              <th>Description</th>
              <th>Quantity</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{invoice.title}}</td>
              <td>{{invoice.rate}}</td>
              <td>{{invoice.description}}</td>
              <td>{{invoice.quantity}}</td>
              <td>{{invoice.amount | currency}}</td>
            </tr>
            <tr>  
          </tbody>
        </table>
      </div>
</div>



