<section id ="menu">
    <div class="logo">
        <i class="fa-solid fa-bars"> <span>INVOICE</span></i>
    </div>
    <div class="items">
        <li><a href="#" routerLink="/dashboard" (click) ="navigateToDashboard()" >DASHBOARD</a></li>
        <li><a href="#" routerLink="/lead" (click)="navigateToLeadPage()" >LEAD</a></li>
        <li><a href="#">DEAL</a></li>
        <li><a href="#">QUOTE</a></li>
        <li><a href="#" routerLink="/invoice" (click)="navigateToInvoicePage()">INVOICE</a></li>
        <li><a href="#" routerLink="/settings" (click)="navigateToSettingsPage()" >SETTIGS</a></li>
    </div>
    <div class="log-out-btn">
        <button (click)="openDialog()" mat-raised-button color="primary">LOGOUT</button>
    </div>
</section>
<section id="lead-whole-container">
<div class="lead-whole-container">
    <div class="page-title">
        <h2>Lead</h2>
    </div>
        <div class="actions">
            <div clas="add-lead-div">
                <button mat-raised-button color="primary" (click)=" openAddLeadForm()"> + Add Lead</button>
             </div>
            <div class="edit-lead-div">
                <button mat-raised-button><i class="fa-solid fa-ellipsis"></i></button>
            </div>
        </div>
    </div>
    <div class="search-div-conatiner">
       <div class="search-container">
        <i class="fa-solid fa-magnifying-glass"></i>   
        <input type="text" class="search-input" placeholder=" Search Lead">
       </div>
    </div>
    <div class="lead-content">
        <div class="lead-content-file">
            <i class="fa-solid fa-file-circle-plus"></i>
             <p>You have not added any Lead yet.</p>
             <button mat-raised-button color="primary" color="primary" (click)="openAddLeadForm()">+ Let's start Adding</button>
        </div>
    </div>
</section>