<app-sidebar></app-sidebar>
<section id="interface">
  <div class="invoice-container">
      <h4 class="i-name">Leads</h4>
      <div class="add-invoice-div">
          <button mat-raised-button color="primary" class="add-invoice-btn" (click)="openAddLeadForm()"> + Add Lead</button>
      </div>
  </div>
  <div class="invoice-table">
      <div class="doc-div-container">
          <i class="fa-solid fa-file-invoice-dollar"></i>
      </div>
      <div class="doc-div-container">
          <i class="fa-solid fa-file"></i>
      </div>

      <div class="search-container">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" class="search-input" placeholder="Search Lead" [(ngModel)]="searchTerm" (input)="applyFilter()">
      </div>
  </div>
    <div class="leads-stages">
      <div class="title"><h4 class="leads">Leads Stages Here</h4></div>
    </div>
    <div *ngIf="searchUnavailable; else searchResults" class="search-lead-container">
      <p><i class="fa-solid fa-triangle-exclamation"></i> Ops! No Leads Available</p>
    </div>
    <ng-template  #searchResults> 
      <div class="kanban-board">
        <div class="column" (dragover)="onDragOver($event, 'deal')" (drop)="onDrop($event, 'deal')">
          <h2>Deal</h2>
          <div
          class="task"
          draggable="true"
          *ngFor="let item of newFilterLeads('deal')"
          (dragstart)="onDragStart(item)"
          (drop)="onDrop($event, 'deal')"
          >
            <div class="name-action-lead-container">
              <div class="name-of-lead">
                {{ item.person }}
              </div>
              <div class="lead-of-action">
                <span (click)="openLeadInfoDialogBox(item)"><i class="fa-solid fa-circle-info"></i></span>
                <span (click)="openDeleteLeadDialog(item.id)"><i class="fa-solid fa-trash"></i></span>
                <span (click)="openEditForm(item)">
                  <i class="fa-solid fa-pen-to-square"></i>
                </span>
              </div>
            </div>
            <br />
            <span class="lead-budget">Budget: {{item.budget | currency:item.currency_code}}</span>
          </div>
        </div>
        
        <div class="column" (dragover)="onDragOver($event, 'quotation')" (drop)="onDrop($event, 'quotation')">
          <h2>Quotation</h2>
          <div
            class="task"
            draggable="true"
            *ngFor="let item of newFilterLeads('quotation')"
            (dragstart)="onDragStart(item)"
          >
          <div class="name-action-lead-container">
            <div class="name-of-lead">
              {{ item.person }}
            </div>
            <div class="lead-of-action">
              <span (click)="openLeadInfoDialogBox(item)"><i class="fa-solid fa-circle-info"></i></span>
              <span (click)="openDeleteLeadDialog(item.id)"><i class="fa-solid fa-trash"></i></span>
             
            </div>
          </div>
            <br />
            <span class="lead-budget">Budget: {{item.budget | currency:item.currency_code}}</span>
          </div>
        </div>
        <div class="column" (dragover)="onDragOver($event, 'lost')" (drop)="onDrop($event, 'lost')">
          <h2>Lost</h2>
          <div
            class="task"
            draggable="true"
            *ngFor="let item of newFilterLeads('lost')"
            (dragstart)="onDragStart(item)"
          >
          <div class="name-action-lead-container">
            <div class="name-of-lead" (click)="openLeadInfoDialogBox(item)">
              {{ item.person }} 
            </div>
            <div class="lead-of-action">
              <span (click)="openLeadInfoDialogBox(item)"><i class="fa-solid fa-circle-info"></i></span>
              <span (click)="openDeleteLeadDialog(item.id)"><i class="fa-solid fa-trash"></i></span>
            </div>
          </div>
            <br />
            <span class="lead-budget">Budget: {{item.budget | currency:item.currency_code}}</span>
          </div>
        </div>
        <div class="column" (dragover)="onDragOver($event, 'win')" (drop)="onDrop($event, 'win')">
          <h2>Won</h2>
          <div class="task" draggable="true" *ngFor="let item of newFilterLeads('win')" (dragstart)="onDragStart(item)"
          >
          <div class="name-action-lead-container">
            <div class="name-of-lead">
              {{ item.person }}
            </div>
            <div class="lead-of-action">
              <span (click)="openLeadInfoDialogBox(item)"><i class="fa-solid fa-circle-info"></i></span>
            </div>
          </div>
            <br />
            <span class="lead-budget">Budget: {{item.budget | currency:item.currency_code}}</span>
          </div>
        </div>
      </div>
    </ng-template>
</section>