<section id ="menu" class="menu">
  <div class="logo">
     <h3 class="pagae-title">Invoice</h3>
  </div>
  <div class="items">
      <li><a href="#" rounterLink="dashboard">DASHBOARD</a></li>
      <li><a href="#" routerLink="/lead" (click)="navigateToLeadPage()">LEAD</a></li>
      <li><a href="#">DEAL</a></li>
      <li><a href="#">QUOTE</a></li>
      <li><a href="#" rounterLink="/invoice" (click)="navigateToInvoicePage()">INVOICE</a></li>
      <li><a href="#" routerLink="/settings" (click)=" navigateToSettingsPage()">SETTIGS</a></li>
  </div>
  <div class="log-out-btn">
      <button (click)="openDialog()" mat-raised-button color="primary">LOGOUT</button>
  </div> 
</section>

<section id="interface">
  <div class="invoice-container">
      <h4 class="i-name">Leads</h4>
      <div class="add-invoice-div">
          <button mat-raised-button color="primary" class="add-invoice-btn" (click)="openAddLeadForm()"> + Add Lead</button>
      </div>
  </div>
  <div class="invoice-table">
      <div class="doc-div-container">
          <i class="fa-solid fa-file-invoice-dollar"></i>
      </div>
      <div class="doc-div-container">
          <i class="fa-solid fa-file"></i>
      </div>
      <div class="search-container">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input type="text" class="search-input" placeholder=" Search Lead" [(ngModel)]="searchTerm" (keyup)="applyFilter()">
      </div>
  </div>

  <div class="leads-stages">
     <div class="title"><h4 class="leads">Leads Stages Here</h4></div>
     <div class="add-stage-button">
      <button mat-raised-button color="primary" (click)="openAddLeadStage()">+Add Stage</button>
     </div>
  </div>

  <div class="whole-stages-container">
    <div class="stages-container" class="stages-container" cdkDropList id="new-lead-list" (cdkDropListDropped)="onDropLead($event)">
      <div class="column">
        <div class="heading-text-edit-icon">
          <div class="stage-name-content" id="looped">
            <h3 class="stage-name-title">New Lead</h3>
            <div id="looped-lead" *ngFor="let lead of filteredLeads" cdkDrag>
              <div class="name_plus_action_currency">
                <div  class="name">
                  <span (click)="displayMoreLeadInfo()">{{lead.person}}</span><br>
                </div>
                <div class="action-icons">
                  <i class="fa-solid fa-trash" (click)="openDeleteLeadDialog(lead.id)"></i>
                  <i class="fa-solid fa-pen-to-square" (click)="openEditForm(lead)"></i>
                </div>
              </div>
              <span class="currency">{{lead.budget | currency}}</span>
            </div>
          </div>
          <div class="action-icons">
            <div class="vertical-divider"></div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Other Stages -->
    <div class="stages-container" *ngFor="let stage of stageList" cdkDropList [id]="stage.id" (cdkDropListDropped)="onDropLead($event)">
      <div class="column">
        <div class="heading-text-edit-icon">
          <div class="stage-name-content">
            <h3 class="stage-name-title">{{ stage.stage_name }}</h3>
          </div>
          <div class="action-icons">
            <span><i class="fa-solid fa-pen-to-square" (click)="openEditLeadStageForm(stage)"></i></span>
            <span><i class="fa-solid fa-trash" (click)="openDeleteLeadStageDialogBox(stage.id)"></i></span>
            <span>|</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>