<div mat-raised-title>
    <div class="title-edit">
        <div><h1>Lead Information</h1></div>
    </div>
</div>
<div mat-dialog-content>
    <div class="main-lead-content">
        <div *ngFor="let lead of leads">
            <div class="container">
                <h2 class="title">{{lead.person}}</h2>
                <h3 class="price">Budget: {{lead.budget | currency:lead.currency_code}}</h3>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, laudantium?</p>
                <b class="offer">{{lead.email}}</b>
                <div class="ribbon-wrap">
                  <div class="ribbon">{{lead.status}}</div>
                </div>
              </div>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="onCancelClick()" color="warn">Close</button>
</div>