<app-sidebar></app-sidebar>
<section id="interface">
 <div class="interface-container">
    <div class="settings-options">
        <app-sub-side-bar></app-sub-side-bar>
    </div>
    <div class="second-div">
        <h4 class="i-name">Estimate and Invoice: Common Settings</h4>
    <mat-tab-group>
          <mat-tab label="Currency">
            <br>
            <br>
            <label for="">Currency</label>
            <div class="currency-input">
                <div class="input-group mb-3">
                    <input placeholder="USD($)" type="text" class="form-control form-control bg-light fs-6 custom-height">
                </div>
            </div>
            <label for="">Language</label>
            <div class="currency-input">
                <div class="input-group mb-3">
                    <input  placeholder="English"  type="text" class="form-control form-control bg-light fs-6 custom-height">
                </div>
            </div>
            <div class="save-common-btn">
                <button mat-raised-button color="primary">Save</button>
            </div>
          </mat-tab>
        <mat-tab label="Quantity Type">
            <br>
            <br>
            <span class="type">Quantity Type</span>
            <div class="first-div">
                <div class="first-actions">
                    <div class="menu-icons">
                        <i class="fa-solid fa-ellipsis"></i>
                    </div>
                    <div class="temp-condition" id="pink">
                        <span>Unit</span>
                    </div>
                </div>
                <div class="second-actions">

                     <div class="edit-icon-div">
                        <i class="fa-solid fa-pencil"></i>
                    </div>
                    <div class="delete-icon-div">
                        <i class="fa-solid fa-trash"></i>
                    </div>
                </div>
            </div>
            <span class="type">Text Fields</span>
            <div class="first-div">
                <div class="first-actions">
                    <div class="menu-icons">
                        <i class="fa-solid fa-ellipsis"></i>
                    </div>
                    <div class="temp-condition" id="pink">
                        <span>Unit</span>
                    </div>
                </div>
                <div class="second-actions">
                     <div class="edit-icon-div">
                        <i class="fa-solid fa-pencil"></i>
                    </div>
                    <div class="delete-icon-div">
                        <i class="fa-solid fa-trash"></i>
                    </div>
                </div>
            </div>
            <span class="type">Fee Fields</span>
            <div class="first-div">
                <div class="first-actions">
                    <div class="menu-icons">
                        <i class="fa-solid fa-ellipsis"></i>
                    </div>
                    <div class="temp-condition" id="pink">
                        <span>Unit</span>
                    </div>
                </div>
                <div class="second-actions">

                     <div class="edit-icon-div">
                        <i class="fa-solid fa-pencil"></i>
                    </div>
                    <div class="delete-icon-div">
                        <i class="fa-solid fa-trash"></i>
                    </div>
                </div>
            </div>

            <span class="type">Discount Fields</span>
            <div class="first-div">
            
                <div class="first-actions">
                    <div class="menu-icons">
                        <i class="fa-solid fa-ellipsis"></i>
                    </div>
                    <div class="temp-condition" id="pink">
                        <span>Unit</span>
                    </div>
                </div>
                <div class="second-actions">

                     <div class="edit-icon-div">
                        <i class="fa-solid fa-pencil"></i>
                    </div>
                    <div class="delete-icon-div">
                        <i class="fa-solid fa-trash"></i>
                    </div>
                </div>
            </div>

            <div class="save-common-btn">
                <button mat-raised-button color="primary">Save</button>
            </div>
    
        </mat-tab>
        <mat-tab label="Tax">
    

        </mat-tab>
        <mat-tab label="Fee">

        </mat-tab>
        <mat-tab label="Discount">
         
        </mat-tab>
    </mat-tab-group>
    </div>
 </div>
</section>
